.dampf{
    position: absolute;
    width: 8%;
    height: 8%;
    z-index: 1;
    top: 55%;
    right: 29%;
    opacity: 0;


}

.img-container:hover .dampf{
    animation: dampfen 2s infinite;
}

@keyframes dampfen {
    0%{
        opacity: 0%;
    }

    50%{
        opacity: 100%;
        transform: translate(0,-60%);
    }

    70%{
        opacity: 0%;
    }

    100%{
        transform: translate(0,-60%);
    }
}