.dampf{
    opacity: 0;

}
.img-container:hover .dampf{
    animation: dampfen 3s infinite;
}

@keyframes dampfen {
    0% {
        opacity: 0%;

    }
    50% {
        opacity: 100%;

    }
    90% {
        opacity: 0%;

    }
    100% {
    
    }
}
