.leisure-container:hover #gaming-circle-1{
    
    animation: push-buttons linear 1.5s infinite;
}

.leisure-container:hover #gaming-circle-2{
    
    animation: push-buttons linear 2s infinite;
}
.leisure-container:hover #gaming-circle-3{
    
    animation: push-buttons linear 2.5s infinite;
}
.leisure-container:hover #gaming-circle-4{
    
    animation: push-buttons linear 3s infinite;
}

@keyframes push-buttons{
    0%{
        
    }

    25%{
        fill: #031135;
 
    }


    100%{

        fill: white !important;

    }
}