@import url(coffee.css);
@import url(quantum.css);
@import url(herz.css);
@import url(robo.css);
@import url(leisure.css);


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;

}

.img-container{
    width: 400px;
    height: 400px;
    padding: 10px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease-in-out 200ms;
    position: relative;
}

.img-container img{
    max-height: 180px;
    transition: all ease-in-out 200ms;
}

.img-container svg{
    max-height: 180px;
}

.img-container:hover{
    transform: scale(1.05);
}